$radius5: 5px;
$radius10: 10px;
$blue: #039BE5;
$white: #ffffff;
$light: #F4F7FB;
$green: #75D14A;
$yellow: #F3A712;
$product: #EE685F;
$blue500: #3C89FD;
$vk-color: #4B729F;
$card-color: #F0F1F5;
$light-grey: #EAEBED;
$dark-green: #4CAF50;
$light-violet: #8E24AA;
$hover-yellow: #FAB836;
$accent-color: #6F73EE;
$dark-primary: #282739;
$youtube-color: #FC4C48;
$dark-secondary: #5D6C7B;
$light-secondary: #ECF3FF;
$hover-accent-color: #8185F9;
$dark-gradient: radial-gradient(76.7% 707.77% at 23.3% 72.57%, #595959 0%, #3B3E46 100%) ;
$different-gradient: linear-gradient(57.44deg, #FFC107 -3.72%, #F44336 47.77%, #9C27B0 96.83%), #4B729F;

// font-family: 'Roboto', sans-serif;