.benefits {
    padding-bottom: 75px;

    &-wrapper {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        h2 {
            font-size: 25px;
            font-weight: 600;
            line-height: 36px;
            color: $dark-primary;
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            color: $dark-primary;
        }
        img {
            max-width: 190px;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}